.header {
    padding-left: 20%;
    padding-right: 15%;
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    column-gap: 1%;
}

.logo {
    margin: 0 0 0 .45em;
}

@media only screen and (max-width: 600px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10%;
        grid-column: 1/2;
        height: 10%
    }

    .mobile-menu {
        grid-column: 2/-1;
    }
}